server:
  port: 8081

spring:
  application:
    name: sync-module
  datasource:
    url: jdbc:h2:mem:syncdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console

external:
  service:
    base-url: http://localhost:8090

logging:
  level:
    root: INFO
    com.example: DEBUG